* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body * {
    font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    width: 100%;
    height: 122px;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    display: flex;
    padding: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #777777;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

main .container {
    display: flex;
    width: 100%;
    height: 100%;
}

main form {
    display: flex;
    flex-direction: column;
    width: 400vw;
    justify-content: center;
    height: 70%;
}

main form .titulo {
    display: flex;
    flex-direction: column;
    color: #575757;
    font-size: 39px;
    font-weight: 600;
    line-height: 53.11px;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
    height: 20vh;
}

main form div p {
    display: flex;
    flex-direction: column;
}

main form div h1 {
    color: #575757;
    font-size: 39px;
}

main .formulario {
    font-family: 'Roboto', sans-serif;
    color: #9B9B9B;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

main .formulario input {
    width: 538px;
    height: 26px;
    left: 123px;
    top: 294px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
}

main .branco {
    padding-top: 1rem;
}

main .radio {
    font-family: 'Roboto', sans-serif;
}

main .disponivel {
    color: #9B9B9B;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 3rem;
}

main .textradio {
    color: #9B9B9B;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 3rem;
}


main .box{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main .integral, .meio, .free {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    padding-left: 3rem;
}

main .integral label, .meio label, .free label {
    padding-left: 0.2rem;
}

main .input{
    display: flex;
    padding-top: 1rem;
}

main .email, .ligacao, .zap {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    padding-left: 3rem;
}


main .email label, .ligacao label, .zap label {
    padding-left: 0.2rem;
}

main .text {
    text-align: justify;
    justify-content: center;
    padding-top: 10rem;
    padding-right: 5rem;
    font-size: 16px;
    color: #575757;
    font-weight: 400;
    line-height: 21.79px;
}

main .textarea {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 3rem;
}

main .textarea label {
    padding-bottom: 0.2rem;
    padding-left: 0.1rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #9B9B9B;
}

main .textarea textarea {
    width: 536.64px;
    height: 78px;
    left: 123px;
    top: 681px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    resize: none;
}

main .anexar {
    display: flex;
    padding-left: 3rem;
    padding-top: 1rem;
    width: 40rem;
}

main .curriculo {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #9B9B9B;
    width: 6.5rem;
}

main .upload {
    width: 118px;
    height: 21px;
    left: 213px;
    top: 781px;
    background-color: #C4C4C4;
}

main .upload label{
    display: flex;
    justify-content: center;
    padding-top: 0.1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

main .file {
    display: none;
}

main .enviar {
    padding-left: 3rem;
    padding-top: 1.5rem;
}

main .enviar button {
    width: 537px;
    height: 33px;
    left: 123px;
    top: 824px;
    background-color: #C2185B;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}